@page "/account"
@using BlazorBootstrap
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage;
@using PB_Blazor.Services;

@inject UserManager _userManager
@inject ProtectedLocalStorage _storage
@inject NavigationManager _navigationManager

<div class="container">

    <PageTitle>Account</PageTitle>

    <h1>My Account</h1>
    <hr class="mb-5">

    @if (_userManager.IsAuthorized)
    {
        <h2 class="mb-5 px-5 py-3 form-header">Hello, @_userManager.UserInfo?.UserName</h2>

        <div class="form-outline mb-4">
            <button type="button" @onclick="LogOut" class="btn btn-danger btn-block mb-4">Log out</button>
        </div>
    }
    else
    {
        @if (!isRegistrationForm)
        {
            <h2 class="mb-5 px-5 py-3 form-header">Login</h2>

            <EditForm Model="@userLogin" OnSubmit="@OnLoginAsync">

                <DataAnnotationsValidator />

                <ValidationSummary />

                <div class="form-outline mb-4">
                    <label class="form-label" for="email">Email</label>
                    <InputText id="email" class="form-control" @bind-Value="userLogin.Email"></InputText>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <InputText id="password" type="password" class="form-control" @bind-Value="userLogin.Password"></InputText>
                </div>

                <div @onclick="ChangeForm" class="form-link form-outline mb-4">
                    <em>Go to Registration page</em>
                </div>

                <div class="form-outline mb-4">
                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                </div>

                @if (!string.IsNullOrEmpty(error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@error</div>
                }

            </EditForm>
        }
        else
        {
            <h2 class="mb-5 px-5 py-3 form-header">Registration</h2>

            <EditForm Model="@userRegistration" OnSubmit="@OnRegistrationAsync">

                <DataAnnotationsValidator />

                <ValidationSummary />

                <div class="form-outline mb-4">
                    <label class="form-label" for="email">Email</label>
                    <InputText id="email" class="form-control"
                       @bind-Value="userRegistration.Email"></InputText>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="name">Name</label>
                    <InputText id="name" class="form-control"
                       @bind-Value="userRegistration.Name"></InputText>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="lastName">LastName</label>
                    <InputText id="lastName" class="form-control"
                       @bind-Value="userRegistration.LastName"></InputText>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="nickName">NickName</label>
                    <InputText id="nickName" class="form-control"
                       @bind-Value="userRegistration.NickName"></InputText>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="password">Password</label>
                    <InputText id="password" type="password" class="form-control"
                       @bind-Value="userRegistration.Password"></InputText>
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="confirmPassword">ConfirmPassword</label>
                    <InputText id="confirmPassword" type="password" class="form-control"
                       @bind-Value="userRegistration.ConfirmPassword"></InputText>
                </div>

                <div @onclick="ChangeForm" class="form-link form-outline mb-4">
                    <em>Go to Login page</em>
                </div>

                <div class="form-outline mb-4">
                    <button type="submit" class="btn btn-primary btn-block mb-4">Registration</button>
                </div>

                @if (!string.IsNullOrEmpty(error))
                {
                    <div class="alert alert-danger mt-3 mb-0">@error</div>
                }

            </EditForm>
        }
    }

</div>